{% extends "base.template.njk" %}

{% block content %}

	<link rel="stylesheet" href="/css/chapters.css">
	<link rel="stylesheet" href="/css/components.css">
	<link rel="stylesheet" href="/css/sample.css">

	<h1>{{ title }}</h1>
	{% if demo %}

		<div class="demo-container" id="demo">

			<div class="demo-container__theme-toggle">
				{% if theme %}
					<div class="theme-toggle">
						<input class="theme-toggle__input" id="theme-toggle" type="checkbox" checked>
						<label class="theme-toggle__button" for="theme-toggle">
							<span class="on">Dark UI</span>
							<span class="off">Light UI</span>
						</label>
					</div>
				{% endif %}
			</div>

			<div id="live-sample" class="live-sample">

				<style type="text/css">

          .live-sample {
            display: flex;
            justify-content: space-around;
						padding: 2rem 0;

          }
          @font-face {
            font-family: "Open Sans";
            src: url("/astrouxds/fonts/opensans-bold-webfont.woff2") format("woff2"),
              url("/astrouxds/fonts/opensans-bold-webfont.woff") format("woff");
            font-weight: 700;
            font-style: normal;
          }
          @font-face {
            font-family: "Open Sans";
            src: url("/astrouxds/fonts/opensans-light-webfont.woff2") format("woff2"),
              url("/astrouxds/fonts/opensans-light-webfont.woff") format("woff");
            font-weight: 300;
            font-style: normal;
          }
          @font-face {
            font-family: "Open Sans";
            src: url("/astrouxds/fonts/opensans-regular-webfont.woff2") format("woff2"),
              url("/astrouxds/fonts/opensans-regular-webfont.woff") format("woff");
            font-weight: 400;
            font-style: normal;
          }
          @font-face {
            font-family: "Roboto Mono";
            src: url("/astrouxds/fonts/roboto-mono-regular.woff2") format("woff2"),
              url("/astrouxds/fonts/roboto-mono-regular.woff") format("woff");
            font-weight: 400;
            font-style: normal;
          }
        </style>
				{{ demo | safe }}
			</div>

			<div class="demo-container__sample-links">
				{% if storybook %}
					<a class="sample-links__storybook" href="https://astro-components.netlify.com/?path=/story/{{storybook}}">
						Storybook
					</a>
				{% endif %}
				{% if git %}
					<a class="sample-links__bitbucket" href="https://bitbucket.org/rocketcom/astro-components/src/master/src/components/{{git}}">Bitbucket</a>
				{% endif %}
			</div>
		</div>
	{% endif %}

	{{ content | safe | removeHeader | doDont }}
	{% include "_compliance.njk" %}
{% endblock %}
